.paginas{
    display: flex;
}

.pagina-texto{
    min-width: 8rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0 0.5rem;
    cursor: pointer;
}

li{
    list-style: none;
}